<template>
  <v-app dark height="10">
    <v-toolbar height="5">
      <v-app-bar
      app
      shrink-on-scroll>
      <v-container>
        <v-row>
          <h1 class="mx-auto">My Movie App</h1>
        </v-row>
          <v-row>
            <v-col>
              <navbarVue></navbarVue>
            </v-col>
            <v-col>
              <v-text-field
                type="search"
                role="search"
                @keyup.enter.native="startsearch"
                v-model="search.query"
                label="Search Movies"
                color="black">
                
              </v-text-field>
            </v-col>
            <v-col>
              <v-btn @click="startsearch">Click heres</v-btn>
            </v-col>
          </v-row>
      </v-container>
      <v-spacer>
        
      </v-spacer>
      </v-app-bar>
    </v-toolbar>
    <Nuxt />
  </v-app>
</template>

<script>
import navbarVue from '../../../project2/components/navbar.vue'
import axios from '@nuxtjs/axios'
import { mapActions } from 'vuex';
export default {
  data () {
    return{
      search:{
        query:'',
        results: []
      }
    }
  },
  components:{
      navbarVue
  },
  methods:{
    ...mapActions({
      Getsearchmovie:'Searchmovie'
    }),
    async startsearch(){
      this.Getsearchmovie(this.search.query).then(data=>{
        const results=data.results
         console.log(data.results)
      })
    },
}}
</script>