<template>
  <v-main>
    <v-container >
    </v-container>
    <v-container >
        <v-row class="ml-12 my-auto">
          <v-col class="mr-4"
            v-for="n in 8"
            :key="n"
            cols="1"
          >
            <v-card height="300" width="300">
              <v-img :src="posterpath()"></v-img>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
  </v-main>
  
</template>

<script>
import { mapGetters } from 'vuex';
import { mapActions } from 'vuex';
export default {
    data(){
      return{
        results:[]
      }
    },
    methods:{
      ...mapActions({
      Popularmovies:'popularmovies'
      }),
      posterpath(){
      this.Popularmovies().then(data=>{
        this.results=data.results
        const imgurl=this.$store.state.api.url.images
        return `${imgurl}${this.results.poster_path}`
      })  
    }
    },
}
</script>
